In [8]:
from functions import *

In [9]:
df = load_data_tagtog(['../tagtog/output'])

In [10]:
df

,doc_id,filename,text,is_flood,is_bangladesh,flood_related,flood_climatechange,newspaper,flood_type,dates,...,event_damage-crop_damage_other,event_damage-damage_info_other,event_damage-people_affected,event_damage-peopled_displaced,event_damage-homes_affected,event_damage-disease,event_damage-fatalities,event_dates,event_dates-date,event_dates-prev_date
0,ec583817-3c60-41ee-b856-65f0d9bd7772,dailySun_data_ec583817-3c60-41ee-b856-65f0d9bd...,Date Published:2017-08-31 06:03:11+00:00 tuesd...,True,None,None,None,None,None,[],...,[],[],[],[],[],[],[],[],[],[]
1,f4806621-b874-4f20-97fb-f7c1fa94f6bc,theDailyStar_data_f4806621-b874-4f20-97fb-f7c1...,Date Published:2016-05-05 00:00:00 Flash flood...,True,True,True,False,daily_star,flash,[],...,[],[],[],[],[],[],[],[],[],[]
2,259d503d-f6b1-44b6-a866-8eff03799a07,prothomalo_data_259d503d-f6b1-44b6-a866-8eff03...,Date Published:None Flood situation worsened f...,True,None,None,None,None,None,[],...,[],[],[],[],[],[],[],[],[],[]
3,None,1989_34feabf9fb9bd7378a2a378bbc72e5c80ce50f43.txt,AS THE WORLD LEARNS; Geography Quiz\n1989-04-0...,False,False,False,False,ny_times,None,[],...,[],[],[],[],[],[],[],[],[],[]
4,f4182e23-bcd2-4627-b5ee-6284ac4a2eac,dhakaTribune_data_f4182e23-bcd2-4627-b5ee-6284...,Date Published:2019-06-14 00:00:00 \nThe ...,False,True,False,False,dhaka_tribune,None,[],...,[],[],[],[],[],[],[],[],[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,3ab75588-1219-4abb-b46d-0573897425b1,dhakaTribune_data_3ab75588-1219-4abb-b46d-0573...,Date Published:2020-02-22 00:00:00 \nThe ...,False,True,False,False,dhaka_tribune,None,[],...,[],[],[],[],[],[],[],[],[],[]
1386,dcbad4f4-8464-4d15-b952-309fa61172d9,dailySun_data_dcbad4f4-8464-4d15-b952-309fa611...,Date Published:2019-08-12 05:04:05+00:00 tuesd...,True,None,None,None,None,None,[],...,[],[],[],[],[],[],[],[],[],[]
1387,fd8a27cf-2d1c-4f97-8900-4def4fba882f,dhakaTribune_data_fd8a27cf-2d1c-4f97-8900-4def...,Date Published:2019-04-23 00:00:00 \nMoni...,False,True,False,False,dhaka_tribune,None,[],...,[],[],[],[],[],[],[],[],[],[]
1388,4d833d8f-18ea-4a98-87ff-50ecc04b4f97,newAge_data_4d833d8f-18ea-4a98-87ff-50ecc04b4f...,Date Published:2017-07-22 00:00:00 People on F...,True,None,None,None,None,None,[],...,[],[],[],[],[],[],[],[],[],[]
1389,e214aa71-0b08-4540-a3b8-01e7f6f97c5f,theDailyStar_data_e214aa71-0b08-4540-a3b8-01e7...,Date Published:2019-06-18 00:00:00 Last night ...,False,True,True,False,daily_star,None,[],...,[],[],[],[],[],[],[],[],[],[]

In [17]:
df[df['event_damage'].apply(lambda x:len(x)>0)]

,doc_id,filename,text,is_flood,is_bangladesh,flood_related,flood_climatechange,newspaper,flood_type,dates,...,event_damage-crop_damage_other,event_damage-damage_info_other,event_damage-people_affected,event_damage-peopled_displaced,event_damage-homes_affected,event_damage-disease,event_damage-fatalities,event_dates,event_dates-date,event_dates-prev_date
27,b83c5c87-da13-4043-ad4b-87d436d9a56c,theDailyStar_data_b83c5c87-da13-4043-ad4b-87d4...,Date Published:2019-02-03 00:00:00 \nArou...,True,True,True,False,daily_star,None,"[None, None, None, 2015]",...,[],"[{'start': 467, 'end': 473, 'text': 'the old b...",[],[],[],[],[],"[{'start': 511, 'end': 513, 'text': 'of 2015'}]","[{'start': 511, 'end': 513, 'text': 'of 2015'}...",[]
54,729dcbab-e075-413a-add7-ca10168816ec,theDailyStar_data_729dcbab-e075-413a-add7-ca10...,Date Published:2019-08-07 00:00:00 \nProl...,True,True,True,False,daily_star,monsoon,"[None, None, None, None, None]",...,[],"[{'start': 398, 'end': 403, 'text': 'inundated...",[],[],[],[],[],[],[],[]
74,None,1988_c592d7972eb0f78bc4dd832376167cdfcb5ec4b2.txt,Misery Rises With Rivers In Bangladesh\n1988-0...,True,True,True,False,ny_times,monsoon,"[1988-09, None, None, None, 1987, None, None, ...",...,[],[],"[{'start': 2422, 'end': 2433, 'text': '30 mill...","[{'start': 1145, 'end': 1148, 'text': '25 mill...","[{'start': 2365, 'end': 2372, 'text': '21 mill...",[],"[{'start': 1108, 'end': 1114, 'text': 'leaving...","[{'start': 39, 'end': 40, 'text': '1988-09-06'...","[{'start': 39, 'end': 40, 'text': '1988-09-06'...",[]
104,04e0b65e-5c66-42cb-bb1a-422dc4c7630a,dhakaTribune_data_04e0b65e-5c66-42cb-bb1a-422d...,Date Published:2019-08-01 00:00:00 \nThis...,True,True,True,False,dhaka_tribune,None,"[None, None, None, None]",...,[],[],[],"[{'start': 213, 'end': 218, 'text': 'rendering...",[],[],[],"[{'start': 15, 'end': 16, 'text': '2019-08-01'}]","[{'start': 15, 'end': 16, 'text': '2019-08-01'}]",[]
126,None,1987_acde84fb87df06b145e2c18b8f046795370ee401.txt,PRIEST IS HONORED FOR WORK IN ASIA\n1987-08-16...,True,True,True,False,ny_times,cyclone,"[None, None, 1970-11]",...,[],[],[],[],[],[],"[{'start': 1835, 'end': 1839, 'text': 'that to...","[{'start': 1859, 'end': 1862, 'text': 'in Nove...","[{'start': 1859, 'end': 1862, 'text': 'in Nove...",[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1266,None,1987_524bfe0ec76aa38dce7fc30fec6bbd17d49cb846.txt,Life in Bangladesh Delta: On the Edge of Disas...,True,True,True,False,ny_times,None,"[None, 1985, None, None, 1970, None]",...,[],"[{'start': 709, 'end': 714, 'text': '10,000 to...",[],[],[],[],[],"[{'start': 700, 'end': 702, 'text': 'of 1985'}...","[{'start': 700, 'end': 702, 'text': 'of 1985'}...",[]
1300,edc272d7-71f1-4abc-80e5-4ee06358d386,dhakaTribune_data_edc272d7-71f1-4abc-80e5-4ee0...,Date Published:2019-12-08 00:00:00 \nDisa...,False,True,True,True,dhaka_tribune,None,"[None, None, None]",...,[],[],"[{'start': 932, 'end': 935, 'text': '42 millio...",[],[],[],[],"[{'start': 964, 'end': 966, 'text': 'by 2050'}]",[],[]
1309,None,1988_48ebbef1ed57714128a1381cd419246ec1fd5db3.txt,WASHINGTON TALK: AIDING DISASTER VICTIMS; Smal...,False,True,True,False,ny_times,None,"[1988-08-01, None]",...,[],[],[],"[{'start': 177, 'end': 183, 'text': '25 millio...",[],[],[],"[{'start': 99, 'end': 100, 'text': '1988-09-13'}]","[{'start': 99, 'end': 100, 'text': '1988-09-13'}]",[]
1351,None,1988_6f49adb957cbc66f9beb8fe9980fac08ecfc1b3e.txt,At Least 520 Are Dead In Bangladesh Floods\n19...,True,True,True,False,daily_star,monsoon,"[None, None, None, None, None]",...,[],"[{'start': 68, 'end': 82, 'text': 'The officia...",[],[],[],[],"[{'start': 386, 'end': 395, 'text': 'unofficia...","[{'start': 43, 'end': 44, 'text': '1988-09-05'}]","[{'start': 43, 'end': 44, 'text': '1988-09-05'}]",[]
1362,9362053a-e588-44e6-8eb5-b0f2f2c83a05,theDailyStar_data_9362053a-e588-44e6-8eb5-b0f2...,Date Published:2020-05-20 00:00:00 \nAlre...,False,True,True,False,dhaka_tribune,None,"[None, None, None, None, 1970]",...,[],[],[],[],[],[],"[{'start': 1621, 'end': 1628, 'text': 'killing...","[{'start': 15, 'end': 16, 'text': '2020-05-20'...","[{'start': 15, 'end': 16, 'text': '2020-05-20'...",[]