In [14]:
import sys
sys.path.insert(0, '..')

from bengali_data_management.tagtogLoader import load_from_annotations_folder
df1 = load_from_annotations_folder("../tagtog/datasets/annotations_large_mixed_batch/", csv_folder="../bengali_data_management/samples/formated")
df2 = load_from_annotations_folder("../tagtog/datasets/annotations_exact_match/", csv_folder="../bengali_data_management/samples/formated")

In [15]:
df = pd.concat([df1, df2])
df.reset_index(inplace=True, drop=True)
df

,index,title,date,headline,content,is_flood
0,8639,কুষ্টিয়ায় পানিবন্দী ৩৫ ...,৩ দিন আগে,কুষ্টিয়ায় পানিবন্দী ৩৫ গ্রামের মানুষ,চরাঞ্চলে সাধারণত আষাঢ়–ভাদ্র মাসের মাঝামাঝি পর্...,False
1,27195,পানিবন্দি কয়েক লাখ মানুষ,"১৩ জুলাই, ২০২০",পানিবন্দি কয়েক লাখ মানুষ,সুনামগঞ্জ প্রতিনিধি\nশেষের পাতা ১৩ জুলাই ২০২০...,True
2,292,মৌলভীবাজারে পাহাড়ি ঢলে ... - Prothom Alo,"৫ জুন, ২০১৭",মৌলভীবাজারে পাহাড়ি ঢলে লক্ষাধিক মানুষ পানিবন্দী,>\nজনপ্রতিনিধিরা ব্যক্তিগত উদ্যোগে কিছু ত্রাণ ...,True
3,28981,দুর্যোগ সহনশীল নগর গঠনে নারীর ...,"২৫ ফেব, ২০১৮",দুর্যোগ সহনশীল নগর গঠনে নারীর ভূমিকা,"১৮ ফেব্রুয়ারি ২০১৮, ডেইলি স্টার ওকেয়ার বাংলাদে...",False
4,4913,গরমের তেজে নিস্তেজ জীবন | 942173 ...,"৫ আগস্ট, ২০২০",গরমের তেজে নিস্তেজ জীবন,কখনো ঠা ঠা রোদ আবার কখনো মধ্য শ্রাবণের অঝোরধার...,False
...,...,...,...,...,...,...
1141,7198,দুর্যোগ মোকাবিলায় হাসপাতালের ...,"২৬ মার্চ, ২০১৯",দুর্যোগ মোকাবিলায় হাসপাতালের প্রস্তুতি,"গত ২৭ ফেব্রুয়ারি ২০১৯, প্রথম আলোর আয়োজনে এবং...",False
1142,29790,"আম্পানে খেত-ঘের শেষ, নিঃস্ব বহু ...","২২ মে, ২০২০","আম্পানে খেত-ঘের শেষ, নিঃস্ব বহু মানুষ",‘ঘরের পোতাডাও (ভিটা) পানিতে ধুইয়া লইয়া গ্যাছে।...,True
1143,15070,ব্যাপক বন্যা | প্রথম আলো - Prothom Alo,"৩১ ডিসেম্বর, ২০১৭",ব্যাপক বন্যা,পুরোদমে বর্ষা শুরুর আগেই গেল বছর দেশের হাওরাঞ্...,True
1144,10272,পঞ্চগড়ে নিম্নাঞ্চল প্লাবিত ...,"১৩ জুলাই, ২০২০","পঞ্চগড়ে নিম্নাঞ্চল প্লাবিত, সাঁকো বিলীন",টানা তিন দিনের ভারী বৃষ্টি আর উজান থেকে নেমে আ...,True
1145,10997,Amphan Cyclone: Mamata Banerjee monitoring fro...,"২০ মে, ২০২০","দাপট বাড়াচ্ছে আমফান, নবান্নের কন্ট্রোল রুমে ব...",তরুণকান্তি দাস: দিঘা থেকে বেরিয়ে গিয়েছে ঝড়।...,True

## 5 Flood Stratified Sampling With Translations

In [20]:
from bengali_tools.bengali_preprocessing import BengaliStandardizer
from sklearn.model_selection import StratifiedKFold
import pandas as pd
import translation

bs = BengaliStandardizer()
X, y = df['content'].apply(bs.standandize), df['is_flood']
skf = StratifiedKFold(shuffle=True, random_state=42)
skf.get_n_splits(X, y)

#splits_df['translated'] = df['content'].apply(lambda t: translate_bulk(t, target_lang = 'en', source_lang='bn'))

splits_df = pd.concat([X, y], axis=1) #d%colors'content', 'is_flood']].copy()
for i, indices in enumerate(skf.split(X, y)):
    test_inds = set(indices[1])
    splits_df[f"split_{i}"] = ["train" if i in test_inds else "test" for i in range(len(df))]
    
splits_df
#splits_df.to_csv("preprocessedFiveFoldStratifiedSampling.csv")

,content,is_flood,split_0,split_1,split_2,split_3,split_4
0,চব়াঞ্চলে সাধাব়ণত আষাঢ়–ভাদ্ব় মাসেব় মাঝামাঝ...,False,train,test,test,test,test
1,সুনামগঞ্জ প্ব়তিনিধি\nশেষেব় পাতা ১৩ জুলাই ২০...,True,test,train,test,test,test
2,>\nজনপ্ব়তিনিধিব়া ব্যক্তিগত উদ্যোগে কিছু ত্ব়...,True,test,test,test,test,train
3,"১৮ ফেব্ব়ুয়াব়ি ২০১৮, ডেইলি স্টাব় ওকেয়াব় ব...",False,test,test,train,test,test
4,কখনো ঠা ঠা ব়োদ আবাব় কখনো মধ্য শ্ব়াবণেব় অঝো...,False,train,test,test,test,test
...,...,...,...,...,...,...,...
1141,"গত ২৭ ফেব্ব়ুয়াব়ি ২০১৯, প্ব়থম আলোব় আয়োজ...",False,train,test,test,test,test
1142,‘ঘব়েব় পোতাডাও (ভিটা) পানিতে ধুইয়া লইয়া গ্য...,True,test,test,test,test,train
1143,পুব়োদমে বব়্ষা শুব়ুব় আগেই গেল বছব় দেশেব় হ...,True,test,train,test,test,test
1144,টানা তিন দিনেব় ভাব়ী বৃষ্টি আব় উজান থেকে নেম...,True,test,test,test,test,train
1145,তব়ুণকান্তি দাস: দিঘা থেকে বেব়িয়ে গিয়েছে ঝড...,True,test,test,train,test,test

In [21]:
splits_df.to_csv("standardizedWordFiveFoldStratifiedSampling.csv")

## Train-Valid-Test Split

In [4]:
from sklearn.model_selection import train_test_split

X_train_valid, X_test, y_train_valid, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, test_size = 0.20, random_state = 42)

print(f"{len(X_train)} training examples\n{len(X_valid)} validation examples\n{len(X_test)} test examples")

643 training examples
161 validation examples
202 test examples

In [ ]:
import pandas as pd

train_dt=pd.DataFrame([X_train, y_train]).T
valid_dt=pd.DataFrame([X_valid, y_valid]).T
test_dt=pd.DataFrame([X_test, y_test]).T
train_dt['type'] = 'train'
valid_dt['type'] = 'valid'
test_dt['type'] = 'test'
splits_df = pd.concat([train_dt, valid_dt, test_dt])

#splits_df.to_csv("training_splits.csv")

In [ ]:
splits_df.head()

## All English Data From Tagtog

In [22]:
import sys, os
sys.path.insert(0, '..')
import pandas as pd

In [27]:
LABELED_PATH = "../bengali_data_management/labelled_samples/"
dfs = []
for sample in ['dailystar.csv', 'dhaka_tribune.csv', 
               "is_flood_new.csv", "is_flood3.csv",
               "is_flood.csv", "eng_articles.csv"
              ]:
    dfs.append(pd.read_csv(os.path.join(LABELED_PATH, sample), index_col=0))

df_raw = pd.concat(dfs)

In [28]:
def preprocess_eng(txt):
    text = " ".join(seg for seg in txt.split("\n") if len(seg) > 0 and "Date Published:" not in seg)
    #if len(text) < 100:
    #    return None
    return text

df = pd.concat([df_raw['content'].apply(preprocess_eng), df_raw['is_flood']], axis = 1,)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [29]:
from sklearn.model_selection import train_test_split

X, y = df['content'], df['is_flood']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10, random_state = 42)

print(f"{len(X_train)} training examples\n{len(X_test)} test examples")

1025 training examples
114 test examples

In [26]:
train_dt=pd.DataFrame([X_train, y_train]).T
test_dt=pd.DataFrame([X_test, y_test]).T
train_dt['type'] = 'train'
test_dt['type'] = 'test'
splits_df = pd.concat([train_dt, test_dt])

splits_df.to_csv("english_training_data.csv")

In [80]:
test_dt

                                               content is_flood  type
668  Flood situation worsens in JagannathpurOverflo...     True  test
324  Further east, Iran has the third highest case ...    False  test
624  tuesday, 21 july, 2020 people in the flood-aff...     True  test
690  Hundreds of houses have been swept away as wat...     True  test
473  These jute mills are located in Khulna's Khali...    False  test
..                                                 ...      ...   ...
512  The community health workers are unsung heroes...    False  test
109  April 24, 1972  IMPORT POLICY ANNOUNCED The co...    False  test
587  tuesday, 21 july, 2020 under the influence of ...     True  test
362  Police pressed charges against eight people ov...    False  test
734  India's national carrier Air India will operat...     True  test

[77 rows x 3 columns]

## English Data

In [6]:
import json, pandas as pd

with open("english_data.json", "r") as f:
    dt = json.load(f)

In [69]:
import re
date_published = re.compile("Date Published:\d+-\d+-\d+ \d+:\d+:\d+(\+00:00)?")
news_summary = re.compile("NEWS SUMMARY(:?)[^\na-z]*\n")

def remove_date(text):
    #text = text.replace("tuesday, 21 july, 2020", "")
    text = news_summary.sub("", text)
    return date_published.sub("", text).strip()

In [75]:
df_raw = pd.DataFrame(dt)

In [78]:
df = pd.concat([df_raw['text'].apply(remove_date), df_raw['is_flood']], axis = 1,)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [82]:
from sklearn.model_selection import train_test_split

X, y = df['text'], df['is_flood']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10, random_state = 42)

print(f"{len(X_train)} training examples\n{len(X_test)} test examples")

1242 training examples
138 test examples

In [83]:
train_dt=pd.DataFrame([X_train, y_train]).T
test_dt=pd.DataFrame([X_test, y_test]).T
train_dt['type'] = 'train'
test_dt['type'] = 'test'
splits_df = pd.concat([train_dt, test_dt])

splits_df.to_csv("english_training_data.csv")

In [84]:
splits_df

                                                   text is_flood   type
503   Water in the Teesta River is flowing above the...     True  train
817   The ambassador extended his sincere felicitati...    False  train
1078  Bangladesh Getting U.S. Aid\n1987-09-26T05:00:...     True  train
231   Around 500km coastal embankments of Khulna, Ba...    False  train
743   Railways Minister Nurul Islam Sujan today in p...    False  train
...                                                 ...      ...    ...
636   Floodwaters rushing down from highlands in Ind...     True   test
493   Date Published:None Two days have been passed ...     True   test
1354  The deal has been signed by US special envoy Z...    False   test
752   3 Die as Police Clash With Protesters in Bangl...    False   test
435   Parts of low-lying areas close to river banks ...     True   test

[1380 rows x 3 columns]