In [44]:
from extract_geography import *
import json
import geopandas as gpd

In [45]:
datesLocationList = json.load(open('../classifier/datesLocationList.json'))
div, dist, upa = original_files('Shapefiles_Final_30_7_2020/Districts_Shapefile_7_15_2020')

In [46]:
datesLocationList

{'2015': {'dhaka': 5,
  'mymensingh': 2,
  'nilphamari': 1,
  'lalmonirhat': 1,
  'bhola': 2,
  'comilla': 2,
  'chittagong': 6,
  'gazipur': 1,
  'satkhira': 1,
  'rajshahi': 2,
  'sylhet': 3,
  'rangpur': 2,
  'barisal': 4,
  'noakhali': 1,
  'khulna': 4,
  'feni': 2,
  'chandpur': 1,
  'bandarban': 3,
  'rangamati': 1,
  "cox's bazar": 2,
  'moulvibazar': 1,
  'khagrachhari': 1,
  'narayanganj': 1,
  'faridpur': 1},
 '2016': {'kurigram': 6,
  'chittagong': 2,
  'lalmonirhat': 4,
  'manikganj': 2,
  'chuadanga': 1,
  'nilphamari': 3,
  'sunamganj': 4,
  'jamalpur': 4,
  'barisal': 1,
  'faridpur': 3,
  'tangail': 1,
  'gaibandha': 3,
  'bogra': 3,
  'rajbari': 2,
  'natore': 1,
  'shariatpur': 1,
  'munshiganj': 2,
  'sylhet': 1,
  'sirajganj': 1,
  'dhaka': 1,
  'narayanganj': 1},
 '2017': {'rangamati': 2,
  'moulvibazar': 12,
  'lalmonirhat': 14,
  'shariatpur': 7,
  'sylhet': 21,
  'habiganj': 3,
  'barisal': 9,
  'chittagong': 17,
  'bandarban': 3,
  'sherpur': 6,
  'khulna': 10,
  'dhaka': 18,
  'sunamganj': 12,
  'khagrachhari': 3,
  'rangpur': 9,
  'nilphamari': 6,
  'kurigram': 19,
  'noakhali': 1,
  'gaibandha': 13,
  'bogra': 12,
  'jamalpur': 16,
  'sirajganj': 16,
  "cox's bazar": 4,
  'mymensingh': 8,
  'jhalakathi': 1,
  'rajshahi': 8,
  'brahmanbaria': 3,
  'netrokona': 2,
  'pabna': 5,
  'tangail': 8,
  'chandpur': 2,
  'maulvibazar': 3,
  'faridpur': 7,
  'madaripur': 3,
  'thakurgaon': 1,
  'rajbari': 5,
  'manikganj': 7,
  'feni': 3,
  'jessore': 3,
  'munshiganj': 4,
  'nawabganj': 1,
  'chapainawabganj': 1,
  'patuakhali': 1,
  'barguna': 1,
  'dinajpur': 1,
  'chuadanga': 1,
  'kishoreganj': 1,
  'netrakona': 1},
 '2018': {'sirajganj': 4,
  'kushtia': 1,
  'rangamati': 4,
  'moulvibazar': 3,
  'rajshahi': 3,
  'sylhet': 7,
  'rangpur': 5,
  'nilphamari': 3,
  'tangail': 3,
  'chittagong': 5,
  'bandarban': 3,
  'panchagarh': 1,
  'khulna': 3,
  'chattogram': 2,
  'sherpur': 2,
  'dhaka': 8,
  'sunamganj': 5,
  'barishal': 1,
  'mymensingh': 4,
  'khagrachhari': 2,
  'kurigram': 5,
  'lalmonirhat': 4,
  'bogra': 2,
  'jamalpur': 4,
  "cox's bazar": 3,
  'madaripur': 1,
  'gaibandha': 1,
  'natore': 1,
  'pabna': 1,
  'dinajpur': 1,
  'faridpur': 1,
  'chandpur': 1,
  'bhola': 1,
  'barisal': 3,
  'patuakhali': 1,
  'barguna': 1},
 '2019': {'sunamganj': 17,
  'bhola': 6,
  'netrakona': 12,
  'tangail': 17,
  'mymensingh': 15,
  'rangamati': 12,
  'chittagong': 11,
  'bandarban': 16,
  'chattogram': 19,
  'barishal': 9,
  "cox's bazar": 12,
  'khagrachhari': 7,
  'rajshahi': 6,
  'lalmonirhat': 19,
  'sylhet': 19,
  'rangpur': 17,
  'nilphamari': 17,
  'barisal': 2,
  'kurigram': 20,
  'brahmanbaria': 9,
  'khulna': 9,
  'dhaka': 15,
  'feni': 11,
  'bogura': 18,
  'gaibandha': 19,
  'jamalpur': 20,
  'manikganj': 14,
  'kishoreganj': 3,
  'sirajganj': 19,
  'netrokona': 13,
  'chandpur': 6,
  'habiganj': 10,
  'sherpur': 13,
  'bogra': 12,
  'moulvibazar': 9,
  'panchagarh': 2,
  'faridpur': 12,
  'pabna': 4,
  'dinajpur': 5,
  'jashore': 3,
  'naogaon': 4,
  'gopalganj': 1,
  'munshiganj': 10,
  'satkhira': 1,
  'chuadanga': 1,
  'madaripur': 4,
  'rajbari': 9,
  'natore': 1,
  'gazipur': 3,
  'shariatpur': 5,
  'thakurgaon': 1},
 '2020': {'nilphamari': 30,
  'kurigram': 31,
  'bogura': 31,
  "cox's bazar": 2,
  'mymensingh': 17,
  'lalmonirhat': 31,
  'gaibandha': 31,
  'sylhet': 30,
  'munshiganj': 29,
  'habiganj': 6,
  'tangail': 31,
  'bandarban': 1,
  'chattogram': 16,
  'dhaka': 28,
  'sunamganj': 27,
  'moulvibazar': 7,
  'barisal': 6,
  'jamalpur': 31,
  'rajbari': 27,
  'khagrachhari': 1,
  'rangamati': 5,
  'rangpur': 30,
  'sirajganj': 31,
  'netrakona': 6,
  'netrokona': 17,
  'faridpur': 26,
  'sherpur': 14,
  'pabna': 23,
  'manikganj': 26,
  'naogaon': 26,
  'bogra': 21,
  'thakurgaon': 11,
  'dinajpur': 5,
  'feni': 8,
  'noakhali': 8,
  'bhola': 3,
  'rajshahi': 21,
  'shariatpur': 24,
  'madaripur': 23,
  'chandpur': 15,
  'natore': 24,
  'magura': 1,
  'chittagong': 7,
  'khulna': 15,
  'barishal': 15,
  'narail': 1,
  'kishoreganj': 8,
  'kushtia': 2,
  'pirojpur': 1,
  'patuakhali': 1,
  'satkhira': 5,
  'jhenaidah': 1,
  'brahmanbaria': 9,
  'jashore': 2,
  'gopalganj': 1,
  'bagerhat': 3,
  'panchagarh': 9,
  'narsingdi': 1,
  'lakshmipur': 3,
  'nawabganj': 9,
  'narayanganj': 8,
  'chapainawabganj': 8,
  'cumilla': 2,
  'gazipur': 3,
  'barguna': 1}}

In [47]:
dldist = set()
for y,v in datesLocationList.items():
    dldist = dldist.union(set(v.keys()))
dldist = set([d.lower() for d in dldist])

In [49]:
loc_shp_map = {
    'barisal': 'barishal',
    'chittagong': 'chattogram',
    'jessore': 'jashore',
    'maulvibazar': 'moulvibazar',
    'nawabganj': 'chapainawabganj',
    'netrakona': 'netrokona',
    'chapai nababganj': 'chapainawabganj',
    'comilla': 'cumilla',
    'khagrachari': 'khagrachhari',
    'kishoregonj': 'kishoreganj',
    'maulvibazar district': 'moulvibazar',
    'netrakona': 'netrokona',
    'shariatpur district': 'shariatpur',
    'bogra': 'bogura'
}
shp_loc_map = {v:k for k,v in loc_shp_map.items()}

In [50]:
filepath = 'Shapefiles_Final_30_7_2020/Districts_Shapefile_7_15_2020'
# filepath = 'shammanul_shapefile/Districts_Shapefile_7_15_2020'
gdf = gpd.read_file(filepath)
# dist_div = {}
# div_dist = {}
# for row in gdf.iterrows():
#     dist = row[1]['NAME_2']
#     div = row[1]['NAME_1']
#     dist_div[dist] = div
#     if div not in div_dist: div_dist[div] = []
#     div_dist[div].append(dist)
# path = '../classifier/timeseries_data/logistics/'
# json.dump(div_dist,open(path+'under_division.json','w'),indent=2)

In [51]:
data = []
for row in gdf.iterrows():
    innerData = row[1].to_dict()
    d = innerData['NAME_2'].lower()
    dname = shp_loc_map.get(d,d)
    total = 0
    for k,v in datesLocationList.items():
#         y = k.split('-')[0]
#         innerData[y] = 1 if dname in v else 0
#         total += 1 if dname in v else 0
        innerData[k] = v.get(dname,0)
        total += v.get(dname,0)
    innerData['total-dist'] = total
    data.append(innerData)
gdf2 = gpd.GeoDataFrame(data)
gdf2

,AREA,DIS_CODE,NAME_2,DIVCODE,Coastal,NAME_1,NAME_0,ID_1,ID_2,ID_0,geometry,2015,2016,2017,2018,2019,2020,total-dist
0,0.3085,401,Bagerhat,4,1,Khulna,Bangladesh,BGD.4_1,BGD.4.1_1,BGD,"MULTIPOLYGON (((89.66398 21.92324, 89.65397 21...",0,0,0,0,0,3,3
1,0.3769,203,Bandarban,2,0,Chattogram,Bangladesh,BGD.2_1,BGD.2.1_1,BGD,"POLYGON ((92.26396 22.36977, 92.27598 22.36759...",3,0,3,3,16,1,26
2,0.1144,104,Barguna,1,1,Barishal,Bangladesh,BGD.1_1,BGD.1.1_1,BGD,"MULTIPOLYGON (((90.21625 22.29288, 90.21784 22...",0,0,1,1,0,1,3
3,0.1941,106,Barishal,1,1,Barishal,Bangladesh,BGD.1_1,BGD.1.2_1,BGD,"MULTIPOLYGON (((90.54729 22.97431, 90.54419 22...",4,1,9,3,2,6,25
4,0.1687,109,Bhola,1,1,Barishal,Bangladesh,BGD.1_1,BGD.1.3_1,BGD,"MULTIPOLYGON (((90.88090 22.27234, 90.88102 22...",2,0,0,1,6,3,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,0.2166,588,Sirajganj,5,0,Rajshahi,Bangladesh,BGD.5_1,BGD.5.8_1,BGD,"POLYGON ((89.34051 24.56378, 89.34687 24.56793...",0,1,16,4,19,31,71
60,0.3310,690,Sunamganj,6,0,Sylhet,Bangladesh,BGD.7_1,BGD.7.3_1,BGD,"POLYGON ((91.45595 24.66529, 91.45168 24.66803...",0,4,12,5,17,27,65
61,0.3086,691,Sylhet,6,0,Sylhet,Bangladesh,BGD.7_1,BGD.7.4_1,BGD,"POLYGON ((92.22940 25.10073, 92.23355 25.09700...",3,1,21,7,19,30,81
62,0.3070,393,Tangail,3,0,Dhaka,Bangladesh,BGD.3_1,BGD.3.17_1,BGD,"POLYGON ((89.81174 24.57372, 89.81149 24.57631...",0,1,8,3,17,31,60
63,0.1637,594,Thakurgaon,5,0,Rangpur,Bangladesh,BGD.6_1,BGD.6.8_1,BGD,"POLYGON ((88.26992 25.80814, 88.26729 25.80944...",0,0,1,0,1,11,13

In [52]:
gdf2.to_file(filepath)

In [13]:
spearmen = {'Sylhet': {'news-twitter': '0.7309',
  'news-sentinel': '0.7704',
  'twitter-sentinel': '0.6936'},
 'Rajshahi': {'news-twitter': '0.3884',
  'news-sentinel': '0.4342',
  'twitter-sentinel': '0.4584'},
 'Dhaka': {'news-twitter': '0.5336',
  'news-sentinel': '0.7798',
  'twitter-sentinel': '0.4656'},
 'Barisal': {'news-twitter': '0.2159',
  'news-sentinel': '0.5405',
  'twitter-sentinel': '0.2406'},
 'Chittagong': {'news-twitter': '0.4497',
  'news-sentinel': '0.6467',
  'twitter-sentinel': '0.5095'},
 'Khulna': {'news-twitter': '0.3724',
  'news-sentinel': '0.5634',
  'twitter-sentinel': '0.2913'},
 'Rangpur': {'news-twitter': '0.3864',
  'news-sentinel': '0.3471',
  'twitter-sentinel': '0.3353'}}

pearson = {'Sylhet': {'news-twitter': '0.5084',
  'news-sentinel': '0.709',
  'twitter-sentinel': '0.5995'},
 'Rajshahi': {'news-twitter': '0.3',
  'news-sentinel': '0.7341',
  'twitter-sentinel': '0.4753'},
 'Dhaka': {'news-twitter': '0.1923',
  'news-sentinel': '0.8535',
  'twitter-sentinel': '0.2011'},
 'Barisal': {'news-twitter': '0.2765',
  'news-sentinel': '0.441',
  'twitter-sentinel': '0.1405'},
 'Chittagong': {'news-twitter': '0.5727',
  'news-sentinel': '0.7926',
  'twitter-sentinel': '0.5377'},
 'Khulna': {'news-twitter': '0.3465',
  'news-sentinel': '0.4964',
  'twitter-sentinel': '0.3962'},
 'Rangpur': {'news-twitter': '0.4683',
  'news-sentinel': '0.8213',
  'twitter-sentinel': '0.6825'}}
div_map = {
    'barishal': 'barisal',
    'chattogram': 'chittagong',
    'mymensingh': 'dhaka'
}

In [22]:
filepath = 'Shapefiles_Final_30_7_2020/Divisions_Shapefile_7_15_2020'
gdf = gpd.read_file(filepath)
data1 = []
data2 = []
for row in gdf.iterrows():
    innerData = row[1].to_dict()
    d = innerData['NAME_1'].lower()
    dname = div_map.get(d,d)
    spm = spearmen.get(dname.capitalize())
    per = pearson.get(dname.capitalize())
    d1, d2 = innerData.copy(),innerData.copy()
    for k,v in spm.items(): d1[k] = v
    for k,v in per.items(): d2[k] = v
    data1.append(d1)
    data2.append(d2)
gdf1 = gpd.GeoDataFrame(data1)
gdf2 = gpd.GeoDataFrame(data2)
gdf2.to_file(filepath)

In [24]:
gdf2

,AREA,Coastal,NAME_1,NAME_0,ID_1,ID_0,geometry,news-twitter,news-sentinel,twitter-sentinel
0,0.1144,1,Barishal,Banglaesh,BGD.1_1,BGD,"MULTIPOLYGON (((90.54630 21.77066, 90.54026 21...",0.2765,0.441,0.1405
1,0.3673,1,Chattogram,Banglaesh,BGD.2_1,BGD,"MULTIPOLYGON (((92.27091 20.68720, 92.27071 20...",0.5727,0.7926,0.5377
2,0.1348,0,Dhaka,Banglaesh,BGD.3_1,BGD,"POLYGON ((90.10351 24.73813, 90.11041 24.73805...",0.1923,0.8535,0.2011
3,0.2288,0,Sylhet,Banglaesh,BGD.7_1,BGD,"POLYGON ((91.28751 25.19534, 91.29362 25.19347...",0.5084,0.709,0.5995
4,0.3200,1,Khulna,Banglaesh,BGD.4_1,BGD,"MULTIPOLYGON (((89.33503 21.70510, 89.32744 21...",0.3465,0.4964,0.3962
5,0.3820,0,Mymensingh,Banglaesh,BGD.8_1,BGD,"POLYGON ((89.81486 25.41473, 89.81867 25.41393...",0.1923,0.8535,0.2011
6,0.2091,0,Rangpur,Banglaesh,BGD.6_1,BGD,"MULTIPOLYGON (((88.92882 26.33773, 88.93613 26...",0.4683,0.8213,0.6825
7,0.2117,0,Rajshahi,Banglaesh,BGD.5_1,BGD,"POLYGON ((88.99208 25.27729, 88.99392 25.27579...",0.3,0.7341,0.4753