In [1]:
import sys
sys.path.insert(0, '..')

import pandas as pd

# Loading Annotated Data

In [37]:
from bengali_data_management.tagtogLoader import load_from_annotations_folder
df1 = load_from_annotations_folder("../../tagtog/datasets/annotations_large_mixed_batch/", csv_folder="../bengali_data_management/samples/formated")
df2 = load_from_annotations_folder("../../tagtog/datasets/annotations_exact_match/", csv_folder="../bengali_data_management/samples/formated")

In [38]:
df = pd.concat([df1, df2])
df.reset_index(inplace=True, drop=True)
df

,index,title,date,headline,content,is_flood
0,8639,কুষ্টিয়ায় পানিবন্দী ৩৫ ...,৩ দিন আগে,কুষ্টিয়ায় পানিবন্দী ৩৫ গ্রামের মানুষ,চরাঞ্চলে সাধারণত আষাঢ়–ভাদ্র মাসের মাঝামাঝি পর্...,False
1,27195,পানিবন্দি কয়েক লাখ মানুষ,"১৩ জুলাই, ২০২০",পানিবন্দি কয়েক লাখ মানুষ,সুনামগঞ্জ প্রতিনিধি\nশেষের পাতা ১৩ জুলাই ২০২০...,True
2,292,মৌলভীবাজারে পাহাড়ি ঢলে ... - Prothom Alo,"৫ জুন, ২০১৭",মৌলভীবাজারে পাহাড়ি ঢলে লক্ষাধিক মানুষ পানিবন্দী,>\nজনপ্রতিনিধিরা ব্যক্তিগত উদ্যোগে কিছু ত্রাণ ...,True
3,28981,দুর্যোগ সহনশীল নগর গঠনে নারীর ...,"২৫ ফেব, ২০১৮",দুর্যোগ সহনশীল নগর গঠনে নারীর ভূমিকা,"১৮ ফেব্রুয়ারি ২০১৮, ডেইলি স্টার ওকেয়ার বাংলাদে...",False
4,4913,গরমের তেজে নিস্তেজ জীবন | 942173 ...,"৫ আগস্ট, ২০২০",গরমের তেজে নিস্তেজ জীবন,কখনো ঠা ঠা রোদ আবার কখনো মধ্য শ্রাবণের অঝোরধার...,False
...,...,...,...,...,...,...
1141,7198,দুর্যোগ মোকাবিলায় হাসপাতালের ...,"২৬ মার্চ, ২০১৯",দুর্যোগ মোকাবিলায় হাসপাতালের প্রস্তুতি,"গত ২৭ ফেব্রুয়ারি ২০১৯, প্রথম আলোর আয়োজনে এবং...",False
1142,29790,"আম্পানে খেত-ঘের শেষ, নিঃস্ব বহু ...","২২ মে, ২০২০","আম্পানে খেত-ঘের শেষ, নিঃস্ব বহু মানুষ",‘ঘরের পোতাডাও (ভিটা) পানিতে ধুইয়া লইয়া গ্যাছে।...,True
1143,15070,ব্যাপক বন্যা | প্রথম আলো - Prothom Alo,"৩১ ডিসেম্বর, ২০১৭",ব্যাপক বন্যা,পুরোদমে বর্ষা শুরুর আগেই গেল বছর দেশের হাওরাঞ্...,True
1144,10272,পঞ্চগড়ে নিম্নাঞ্চল প্লাবিত ...,"১৩ জুলাই, ২০২০","পঞ্চগড়ে নিম্নাঞ্চল প্লাবিত, সাঁকো বিলীন",টানা তিন দিনের ভারী বৃষ্টি আর উজান থেকে নেমে আ...,True
1145,10997,Amphan Cyclone: Mamata Banerjee monitoring fro...,"২০ মে, ২০২০","দাপট বাড়াচ্ছে আমফান, নবান্নের কন্ট্রোল রুমে ব...",তরুণকান্তি দাস: দিঘা থেকে বেরিয়ে গিয়েছে ঝড়।...,True

In [39]:
print(df['title'].iloc[0]), print(df['headline'].iloc[0])

কুষ্টিয়ায় পানিবন্দী ৩৫ ...
কুষ্টিয়ায় পানিবন্দী ৩৫ গ্রামের মানুষ

(None, None)

In [ ]:
# Standardized Fivefold with Headline, with labelled data english translations

# Five-Fold Stratified Sampling With Translations

Main File Used for Majority of Testing:
- fiveFoldStratifiedSamplingWithTranslation.csv

For text after standardization (basic typing standardized):
- standardizedWordFiveFoldStratifiedSampling.csv

For text after more substantial preprocessing (removing stopwords and such) [not great for classification]:
- preprocessedWordFiveFoldStratifiedSampling.csv

In [35]:
from bengali_tools.bengali_preprocessing import BengaliStandardizer
from sklearn.model_selection import StratifiedKFold
import pandas as pd
import translation

bs = BengaliStandardizer()
X, y = df['content'].apply(bs.standandize), df['is_flood']
skf = StratifiedKFold(shuffle=True, random_state=42)
skf.get_n_splits(X, y)

#splits_df['translated'] = df['content'].apply(lambda t: translate_bulk(t, target_lang = 'en', source_lang='bn'))

splits_df = pd.concat([X, y], axis=1) #d%colors'content', 'is_flood']].copy()
for i, indices in enumerate(skf.split(X, y)):
    test_inds = set(indices[1])
    splits_df[f"split_{i}"] = ["train" if i in test_inds else "test" for i in range(len(df))]
    
splits_df
#splits_df.to_csv("preprocessedFiveFoldStratifiedSampling.csv")

ModuleNotFoundError: No module named 'translation'

In [21]:
splits_df.to_csv("standardizedWordFiveFoldStratifiedSampling.csv")

## Train-Valid-Test Split

In [4]:
from sklearn.model_selection import train_test_split

X_train_valid, X_test, y_train_valid, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)
X_train, X_valid, y_train, y_valid = train_test_split(X_train_valid, y_train_valid, test_size = 0.20, random_state = 42)

print(f"{len(X_train)} training examples\n{len(X_valid)} validation examples\n{len(X_test)} test examples")

643 training examples
161 validation examples
202 test examples

In [ ]:
import pandas as pd

train_dt=pd.DataFrame([X_train, y_train]).T
valid_dt=pd.DataFrame([X_valid, y_valid]).T
test_dt=pd.DataFrame([X_test, y_test]).T
train_dt['type'] = 'train'
valid_dt['type'] = 'valid'
test_dt['type'] = 'test'
splits_df = pd.concat([train_dt, valid_dt, test_dt])

#splits_df.to_csv("training_splits.csv")

In [ ]:
splits_df.head()

# Old Code for combing all English Data From Tagtog

In [22]:
import sys, os
sys.path.insert(0, '..')
import pandas as pd

In [27]:
LABELED_PATH = "../bengali_data_management/labelled_samples/"
dfs = []
for sample in ['dailystar.csv', 'dhaka_tribune.csv', 
               "is_flood_new.csv", "is_flood3.csv",
               "is_flood.csv", "eng_articles.csv"
              ]:
    dfs.append(pd.read_csv(os.path.join(LABELED_PATH, sample), index_col=0))

df_raw = pd.concat(dfs)

In [28]:
def preprocess_eng(txt):
    text = " ".join(seg for seg in txt.split("\n") if len(seg) > 0 and "Date Published:" not in seg)
    #if len(text) < 100:
    #    return None
    return text

df = pd.concat([df_raw['content'].apply(preprocess_eng), df_raw['is_flood']], axis = 1,)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [29]:
from sklearn.model_selection import train_test_split

X, y = df['content'], df['is_flood']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10, random_state = 42)

print(f"{len(X_train)} training examples\n{len(X_test)} test examples")

1025 training examples
114 test examples

In [26]:
train_dt=pd.DataFrame([X_train, y_train]).T
test_dt=pd.DataFrame([X_test, y_test]).T
train_dt['type'] = 'train'
test_dt['type'] = 'test'
splits_df = pd.concat([train_dt, test_dt])

splits_df.to_csv("english_training_data.csv")

In [80]:
test_dt

                                               content is_flood  type
668  Flood situation worsens in JagannathpurOverflo...     True  test
324  Further east, Iran has the third highest case ...    False  test
624  tuesday, 21 july, 2020 people in the flood-aff...     True  test
690  Hundreds of houses have been swept away as wat...     True  test
473  These jute mills are located in Khulna's Khali...    False  test
..                                                 ...      ...   ...
512  The community health workers are unsung heroes...    False  test
109  April 24, 1972  IMPORT POLICY ANNOUNCED The co...    False  test
587  tuesday, 21 july, 2020 under the influence of ...     True  test
362  Police pressed charges against eight people ov...    False  test
734  India's national carrier Air India will operat...     True  test

[77 rows x 3 columns]

# English Training Data

Collect files used for training on english articles

## Tejits Original English Training Data with His Splits

### Load it from processed version

In [4]:
import os, pandas as pd
dt = pd.read_csv(os.path.join('', 'training_datasets', 'original_english_training_dataset.csv'), index_col=0)

In [5]:
dt

                                                  text  label  split
0    small portion groyen rajshahi city sreerampur ...   True  train
1    students bring forth various allegations rulin...  False  train
2    says sorry lacking role protest continue amid ...  False  train
3    major incidents declared emergency services so...   True  train
4    problem stomach acid moves tube called oesopha...  False  train
..                                                 ...    ...    ...
315  none brahmaputra erode area ulipurulipur kurig...   True   test
316  tuesday july flood situation faridpur kurigram...   True   test
317  none least villages akhaura upazila brahmanbar...   True   test
318  earthquake measuring magnitude richter scale l...  False   test
319  meter area rajbari city flood embankment damag...   True   test

[1597 rows x 3 columns]

### Create it from original raw

In [6]:
import json, pandas as pd

with open("EnglishDataset/original_train_test_split_english_raw.json", "r") as f:
    dt = json.load(f)

set(dt['train'][0].keys())
english_dfs = [
    pd.DataFrame([{'text': item['text'], 'label': item['is_flood'], 'split': _type} for item in dt[_type]])
    for _type in ('train', 'test')
]
english_df = pd.concat(english_dfs)

In [7]:
english_df

                                                  text  label  split
0    small portion groyen rajshahi city sreerampur ...   True  train
1    students bring forth various allegations rulin...  False  train
2    says sorry lacking role protest continue amid ...  False  train
3    major incidents declared emergency services so...   True  train
4    problem stomach acid moves tube called oesopha...  False  train
..                                                 ...    ...    ...
315  none brahmaputra erode area ulipurulipur kurig...   True   test
316  tuesday july flood situation faridpur kurigram...   True   test
317  none least villages akhaura upazila brahmanbar...   True   test
318  earthquake measuring magnitude richter scale l...  False   test
319  meter area rajbari city flood embankment damag...   True   test

[1597 rows x 3 columns]

## Alternate Split of English Data

In [6]:
import json, pandas as pd

with open("english_data.json", "r") as f:
    dt = json.load(f)

In [9]:
import json, pandas as pd

#with open("EnglishDataset/original_train_test_split_english_raw.json", "r") as f:
#    dt = json.load(f)

In [23]:
set(dt['train'][0].keys())
english_dfs = [
    pd.DataFrame([{'text': item['text'], 'label': item['is_flood'], 'split': _type} for item in dt[_type]])
    for _type in ('train', 'test')
]
english_df = pd.concat(english_dfs)

In [25]:
english_df.to_csv('training_datasets/original_english_training_dataset.csv')

In [1]:
import os
dt = pd.read_csv(os.path.join('', 'training_datasets', 'original_english_training_dataset.csv'), index_col=0)
dt[split]

NameError: name 'pd' is not defined

In [69]:
import re
date_published = re.compile("Date Published:\d+-\d+-\d+ \d+:\d+:\d+(\+00:00)?")
news_summary = re.compile("NEWS SUMMARY(:?)[^\na-z]*\n")

def remove_date(text):
    #text = text.replace("tuesday, 21 july, 2020", "")
    text = news_summary.sub("", text)
    return date_published.sub("", text).strip()

In [75]:
df_raw = pd.DataFrame(dt)

In [78]:
df = pd.concat([df_raw['text'].apply(remove_date), df_raw['is_flood']], axis = 1,)
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)

In [82]:
from sklearn.model_selection import train_test_split

X, y = df['text'], df['is_flood']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.10, random_state = 42)

print(f"{len(X_train)} training examples\n{len(X_test)} test examples")

1242 training examples
138 test examples

In [83]:
train_dt=pd.DataFrame([X_train, y_train]).T
test_dt=pd.DataFrame([X_test, y_test]).T
train_dt['type'] = 'train'
test_dt['type'] = 'test'
splits_df = pd.concat([train_dt, test_dt])

splits_df.to_csv("english_training_data.csv")

In [84]:
splits_df

                                                   text is_flood   type
503   Water in the Teesta River is flowing above the...     True  train
817   The ambassador extended his sincere felicitati...    False  train
1078  Bangladesh Getting U.S. Aid\n1987-09-26T05:00:...     True  train
231   Around 500km coastal embankments of Khulna, Ba...    False  train
743   Railways Minister Nurul Islam Sujan today in p...    False  train
...                                                 ...      ...    ...
636   Floodwaters rushing down from highlands in Ind...     True   test
493   Date Published:None Two days have been passed ...     True   test
1354  The deal has been signed by US special envoy Z...    False   test
752   3 Die as Police Clash With Protesters in Bangl...    False   test
435   Parts of low-lying areas close to river banks ...     True   test

[1380 rows x 3 columns]

# Full English Dataset

In [3]:
import json
import os

import pandas as pd

def parse_paper_content_from_eng_json(content, paper = None):
    parsed = []
    for row in content:
        parsed_row = {
            "content": row['article']['text'],
            "headline": row['article']['headline'],
            "date": row['meta']['datePublished'] if row['meta']['datePublished'] is not None else row['meta']['dateModified'],
            "link": "https://bdnews24.com/bangladesh/2014/11/01/massive-blackout-brings-bangladesh-to-its-knees",
            "paper": paper,
        }
        parsed.append(parsed_row)
        
    return pd.DataFrame(parsed)

with open(bdnews1_data.json", 'r') as f:
    data = json.load(f)
    pared_df = parse_paper_content_from_eng_json(data, paper= 'bdnews1')

In [7]:
paper_dir = "EnglishDataset/all_paper_data"

all_parsed_dfs = []
for file in os.listdir(paper_dir):
    if file.split('.')[-1] != 'json':
        continue
    paper = file.split('_')[0]
    with open(os.path.join(paper_dir, file), 'r') as f:
        data = json.load(f)
        pared_df = parse_paper_content_from_eng_json(data, paper=paper)
        all_parsed_dfs.append(pared_df)

In [10]:
english_df = pd.concat(all_parsed_dfs)

In [11]:
english_df.to_csv("predictions/fullEnglishDataset.csv", index=False)

# Cross-Lingual Dataset Preparation with Unlabeled Data

Must generate fiveFoldStratifiedSamplesFirst

In [43]:
from bengali_tools.bengali_preprocessing import BengaliStandardizer
import pandas as pd

bs = BengaliStandardizer()
unlabelled_data = pd.read_csv("../bengali_data_management/samples/unformated/9_25_2021_unlabelled_sample_1.csv", index_col=0)
unlabelled_data["is_flood"] = -1

X_u, y_u = load_X(unlabelled_data), load_y(unlabelled_data)
df_u = pd.concat([X_u, y_u], axis=1).rename(columns={0:'text', 'is_flood':'label'})

In [41]:
from bengali_tools.bengali_preprocessing import BengaliStandardizer
from sklearn.model_selection import StratifiedKFold
import pandas as pd

def load_X(df):
    return df.apply(lambda row: bs.standandize("{headline} \n{content}".format(**row)), axis = 1)

def load_y(df):
    return df["is_flood"].apply(int)

bs = BengaliStandardizer()
X, y = load_X(df), load_y(df)
skf = StratifiedKFold(shuffle=True, random_state=42)
skf.get_n_splits(X, y)

splits_df = pd.concat([X, y], axis=1).rename(columns={0:'text', 'is_flood':'label'}) #d%colors'content', 'is_flood']].copy()
for i, indices in enumerate(skf.split(X, y)):
    test_inds = set(indices[1])
    splits_df[f"split_{i}"] = ["train" if i in test_inds else "test" for i in range(len(df))]
    
splits_df

,text,label,split_0,split_1,split_2,split_3,split_4
0,কুষ্টিয়ায় পানিবন্দী ৩৫ গ্ব়ামেব় মানুষ \nচব়...,0,train,test,test,test,test
1,পানিবন্দি কয়েক লাখ মানুষ \nসুনামগঞ্জ প্ব়তিনি...,1,test,train,test,test,test
2,মৌলভীবাজাব়ে পাহাড়ি ঢলে লক্ষাধিক মানুষ পানিবন...,1,test,test,test,test,train
3,দুব়্যোগ সহনশীল নগব় গঠনে নাব়ীব় ভূমিকা \n১৮...,0,test,test,train,test,test
4,গব়মেব় তেজে নিস্তেজ জীবন \nকখনো ঠা ঠা ব়োদ আব...,0,train,test,test,test,test
...,...,...,...,...,...,...,...
1141,দুব়্যোগ মোকাবিলায় হাসপাতালেব় প্ব়স্তুতি \nগ...,0,train,test,test,test,test
1142,"আম্পানে খেত-ঘেব় শেষ, নিঃস্ব বহু মানুষ \n‘ঘব়ে...",1,test,test,test,test,train
1143,ব্যাপক বন্যা \nপুব়োদমে বব়্ষা শুব়ুব় আগেই গে...,1,test,train,test,test,test
1144,"পঞ্চগড়ে নিম্নাঞ্চল প্লাবিত, সাঁকো বিলীন \nটান...",1,test,test,test,test,train
1145,"দাপট বাড়াচ্ছে আমফান, নবান্নেব় কন্ট্ব়োল ব়ুম...",1,test,test,train,test,test

In [45]:
standardize_df_with_unlabelled = pd.concat([df_u, splits_df])

In [52]:
standardize_df_with_unlabelled.to_csv("standardizedFiveFoldWithUnlabelled.csv")

# Testing Loading in Data

In [65]:
datasets = pd.read_csv("classification_datasets.csv", index_col="index")
_, path, identifier, _ = next(entry for i, entry in datasets.iterrows() if entry.dataset_name == "rawFivefoldWithTranslation")

In [80]:
from typing import Optional
import os

def load_dataset(index: Optional[int] = None, name: Optional[str] = None, _id: Optional[str] = None, filepath: Optional[str] = None, ROOT=''):
    datasets = pd.read_csv("classification_datasets.csv", index_col="index")
    if index is not None:
        row = datasets.iloc[index]
    elif name is not None:
        try:
            row = next(entry for i, entry in datasets.iterrows() if entry.dataset_name == name)
        except StopIteration:
            raise KeyError(f"Could not find dataset for name: {name}")
    elif _id is not None:
        try:
            row = next(entry for i, entry in datasets.iterrows() if entry.identifier == _id)
        except StopIteration:
            raise KeyError(f"Could not find dataset for id: {_id}")
    elif filepath is not None:
        path = filepath
        identifier = None
        return pd.read_csv(os.path.join(ROOT, path)), identifier
    else:
        raise ValueError("Did not specify dataset to load")

    name, path, identifier, desc = row
    print(f"Loaded {name} dataset")
    return pd.read_csv(os.path.join(ROOT, path), index_col=0), identifier

def getFivefoldStandard(USE_TRANSLATED = False):
    df, identifier = load_dataset(_id = "rfft")
    X_trains, X_tests, y_trains, y_tests = [[df[col][df[f"split_{i}"] == cat] for i in range(5)]
            for col in ('content' if not USE_TRANSLATED else 'translated', 'is_flood') 
            for cat in ('test', 'train')
           ]
    print(f"{len(y_trains)} folds\n{len(y_trains[0])} training examples\n{len(y_tests[0])} test examples")
    return df, identifier, X_trains, X_tests, y_trains, y_tests

def getFivefoldWithUnlabelled():
    df, identifier = load_dataset(_id = "sffu")
    df_u = df[df['label']==-1]
    df_l = df[df['label']!=-1]
    X_u = df_u
    X_tests, X_trains, y_tests, y_trains = [[df_l[col][df_l[f"split_{i}"] == cat] for i in range(5)]
            for col in ('text', 'label') 
            for cat in ('test', 'train')
           ]
    print(f"{len(y_trains)} folds\n{len(X_u)} unlabelled examples\n{len(y_trains[0])} labelled training examples\n{len(y_tests[0])} labelled test examples")
    return df, identifier, X_trains, X_tests, y_trains, y_tests, X_u

def getEnglishDataset():
    eng_df, identifier = load_dataset(_id = "rtte")
    eng_train_dt = eng_df[eng_df['type'] == 'train']
    eng_test_dt = eng_df[eng_df['type'] == 'test']
    eng_X_train, eng_y_train = eng_train_dt['text'], eng_train_dt['is_flood']
    eng_X_test, eng_y_test = eng_test_dt['text'], eng_test_dt['is_flood']
    print(f"English Examples\n{len(eng_X_train)} training examples\n{len(eng_X_test)} test examples")
    return eng_df, identifier, eng_X_train, eng_X_test, eng_y_train, eng_y_test

In [82]:
df, ds_id, X_trains, X_tests, y_trains, y_tests, X_u =  getFivefoldWithUnlabelled()

Loaded fivefoldWithUnlabelled dataset
5 folds
7184 unlabelled examples
230 training examples
916 test examples